
@{
    ViewData["Title"] = "CarWashIT";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to CarWashIT!</h1>
        <p>This is a system intended to help Car Wash management</p>
        <p>
            ░░░░░░░░░░░▄▀▄▀▀▀▀▄▀▄░░░░░░░░░░░░░░░░░░<br>
            ░░░░░░░░░░░█░░░░░░░░▀▄░░░░░░▄░░░░░░░░░░<br>
            ░░░░░░░░░░█░░▀░░▀░░░░░▀▄▄░░█░█░░░░░░░░░<br>
            ░░░░░░░░░░█░▄░█▀░▄░░░░░░░▀▀░░█░░░░░░░░░<br>
            ░░░░░░░░░░█░░▀▀▀▀░░░░░░░░░░░░█░░░░░░░░░<br>
            ░░░░░░░░░░█░░░░░░░░░░░░░░░░░░█░░░░░░░░░<br>
            ░░░░░░░░░░█░░░░░░░░░░░░░░░░░░█░░░░░░░░░<br>
            ░░░░░░░░░░░█░░▄▄░░▄▄▄▄░░▄▄░░█░░░░░░░░░░<br>
            ░░░░░░░░░░░█░▄▀█░▄▀░░█░▄▀█░▄▀░░░░░░░░░░<br>
            ░░░░░░░░░░░░▀░░░▀░░░░░▀░░░▀░░░░░░░░░░░░<br>
        </p>
    </div>
</div>