
@{
    ViewData["Title"] = "CarWashIT";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to CarWashIT!</h1>
        <p>This is a system intended to help Car Wash management</p>
        <p>
            ░░░░░░░░░░░▄▀▄▀▀▀▀▄▀▄░░░░░░░░░░░░░░░░░░<br>
            ░░░░░░░░░░░█░░░░░░░░▀▄░░░░░░▄░░░░░░░░░░<br>
            ░░░░░░░░░░█░░▀░░▀░░░░░▀▄▄░░█░█░░░░░░░░░<br>
            ░░░░░░░░░░█░▄░█▀░▄░░░░░░░▀▀░░█░░░░░░░░░<br>
            ░░░░░░░░░░█░░▀▀▀▀░░░░░░░░░░░░█░░░░░░░░░<br>
            ░░░░░░░░░░█░░░░░░░░░░░░░░░░░░█░░░░░░░░░<br>
            ░░░░░░░░░░█░░░░░░░░░░░░░░░░░░█░░░░░░░░░<br>
            ░░░░░░░░░░░█░░▄▄░░▄▄▄▄░░▄▄░░█░░░░░░░░░░<br>
            ░░░░░░░░░░░█░▄▀█░▄▀░░█░▄▀█░▄▀░░░░░░░░░░<br>
            ░░░░░░░░░░░░▀░░░▀░░░░░▀░░░▀░░░░░░░░░░░░<br>
        </p>
    </div>
</div>

@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input class="btn btn-danger" type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a> <br />
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}