@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">Access denied</h1>
    <p class="text-danger">You do not have access to this resource.</p>
    <p class="text-danger">If you think you are eligible, wait until authorized user gives you permission</p>
    <p class="text-warning">Contact: BossOfThisCarWash@gmail.com</p>
    <a href="/">To index</a>
</header>
